@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

.header {
  background-color: #0f9a99;
  width: 100%;
  margin-top: 1%;
  padding: 10px;
  border-radius: 15px;
}

.mainLoginInput {
  height: 35px;
  padding: 0px;
  font-size: 26px;
  width: 50%;
  margin-right: 5%;
  padding-right: 10px;
}

.mainLoginInput::-webkit-input-placeholder {
  font-family: FontAwesome;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-right: 5px;
  padding-top: 2px;
  color: #9ce6b7;
}

.mainLoginInput::-moz-placeholder {
  font-family: FontAwesome;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-right: 5px;
  padding-top: 2px;
  color: #9ce6b7;
}

.mainLoginInput:-ms-input-placeholder {
  font-family: FontAwesome;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-right: 5px;
  padding-top: 2px;
  color: #9ce6b7;
}
