.CreateItem {
    font-family: Arial;
    font-size: 17px;
    padding: 8px;
    opacity: 85%;
    background-repeat: no-repeat;
    background-color: #ffffff;
  }
  
  .Item-Create-Heading-Container {
    background-color: #0f9a99;
    padding: 15px 10px 10px 10px;
    border: solid 1px #0f9a99;
    border-radius: 20px;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 1%;
    margin-top: 3%;
  }
  
  .Item-Create-Body-Container {
    background-color: #0f9a99;
    padding: 5px 10px 15px 10px;
    border: solid 1px #0f9a99;
    padding: 20px;
    border-radius: 15px;
    width: 50%;
    margin-left: 25%;
  }
  
  .form-control {
    border-radius: 10px;
    width: relative;
    background-color: #9decec;
    border-color: #9decec;
    color: white;
    opacity: 0.9;
  }
  
  .Item-Button-Inventory-Reset {
    background-color: #ccf1da;
    color: #0c6464;
    padding: 12px;
    border: soild 1px #0c6464;
    margin: 10px 0;
    width: 18%;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
  }
  .Item-Button-Inventory-Add {
    background-color: #ccf1da;
    color: #0c6464;
    padding: 12px;
    border: soild 1px #0c6464;
    margin: 10px 0;
    width: 25%;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
    margin-left: 5%;
  }
  
  .Item-Button-Inventory-Reset:hover,
  .Item-Button-Inventory-Add:hover {
    background-color: #4caf50;
    color: white;
    border: 1px solid gray;
    font-weight: bold;
  }
  
  .Add-Item-Heading {
    text-align: center;
    font-weight: bold;
    color: #ffffff;
  }
  
  .col-form-label {
    color: #ffffff;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .Delivery-Button-Update-ud {
    background-color: #ccf1da;
    color: #0c6464;
    padding: 12px;
    border: soild 1px #0c6464;
    border: none;
    margin: 10px 0;
    width: 33%;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
    margin-right: 33%;
  }
  