.LoginUser {
  font-family: Arial;
  font-size: 17px;
  padding: 8px;
  opacity: 85%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffff;
}

.User-Login-Heading-Container {
  background-color: #012929;
  padding: 15px 10px 10px 10px;
  border: solid 1px #012929;
  border-radius: 20px;
  width: 40%;
  margin-left: 30%;
  margin-bottom: 2%;
  margin-top: 2%;
}

.User-Login-Body-Container {
  background-color: #012929;
  padding: 5px 10px 15px 10px;
  border: solid 1px #012929;
  padding: 20px;
  border-radius: 15px;
  width: 40%;
  margin-left: 30%;
}

.form-control {
  border-radius: 10px;
  width: relative;
}

.User-Button-Login {
  background-color: #ccf1da;
  color: #0c6464;
  padding: 12px;
  border: soild 1px #0c6464;
  border: none;
  margin: 10px 0;
  width: 15%;
  border-radius: 15px;
  cursor: pointer;
  font-size: 20px;
  margin-left: 7%;
}

.User-Button-Login:hover {
  background-color: #4caf50;
  color: white;
  border: 1px solid gray;
  font-weight: bold;
}

.Login-User-Heading {
  text-align: center;
  font-weight: bold;
  color: #9ce6b7;
}

.rememberMe {
  color: #9ce6b7;
  padding-left: 5px;
}

.mb-4 {
  margin-left: 5%;
}

.checkbox {
  margin-left: 7%;
}

.logo-login {
  width: 15%;
}

.RegLink {
  margin-left: 80%;
}
